<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <%%- meta %>
  <%%- title %>
  <%%- link %>
  <%%- style %>
  <style id="jss-server-side">
    <%%- materialCss %>
  </style>

</head>
<body>
  <div id="root"><%%- appString %></div>
  <script>
    window.__INITIAL__STATE__ = <%%- initialState%>
  </script>
</body>
</html>
